{% extends 'default.html' %}
{% block title %}Servers{% endblock %}
{% block main %}
    {% if servers %}
        <div class="col-md-12">
            <ul class="list-group">
                {% for server in servers %}
                    <li data-toggle="modal" data-target="#server-modal" data-address="{{ server.address }}" data-port="{{ server.port }}" class="list-group-item {% if not server.status %}disabled{% endif %}">
                        {% if server.status %}
                            <span class="badge badge-success">Online</span>
                        {% else %}
                            <span class="badge badge-danger">Offline</span>
                        {% endif %}
                        {{ server.address }}:{{ server.port }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No servers.</p>
    {% endif %}
{% endblock %}